    .header-aboutMe {
        height: 234px;
        background: #fafafa;
        position: relative;
        background-image: url(../img/BIzhaqimizda.png);
        background-repeat: no-repeat;
        background-size: cover;
        .img-opasity {
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 100%;
            background: black;
            opacity: 0.76;
            .text-big {
                margin-top: 100px;
                text-align: center !important;
                font-weight: 500;
                font-size: 36px;
                line-height: 42px;
            }
        }
    }
    
    #otaaa {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        #kichikAb,
        #kichik2Ab {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #BCBCBC;
            text-decoration: none;
        }
    }
    
    .section-aboutMe {
        .container {
            max-width: 84vw !important;
            .row {
                .col-lg-3 {
                    height: 300px;
                    .dropdown {
                        button {
                            position: relative;
                            outline: none !important;
                            box-shadow: none !important;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            height: 60px !important;
                        }
                        ul.active {
                            transition: 0.5s;
                            transform: perspective(1000px) rotateX(-90deg);
                        }
                        ul {
                            transform: perspective(1000px) rotateX(0deg);
                            position: absolute;
                            margin: 0;
                            padding: 0;
                            width: 100%;
                            background: white;
                            transform-origin: top;
                            transform-origin: 0.5s;
                            li {
                                list-style: none;
                                &:hover {
                                    background-color: #007cff;
                                    a {
                                        color: white;
                                    }
                                }
                                a {
                                    padding: 15px;
                                    text-decoration: none;
                                    display: block;
                                    // padding: 6px 10px;
                                    color: #5F5F5F;
                                    font-size: 16px;
                                    border-bottom: 0.5px solid rgb(247, 242, 242);
                                }
                            }
                        }
                    }
                }
                .col-lg-9 {
                    background: white;
                    padding: 20px 30px 100px 30px;
                    .Zapchas {
                        font-weight: bold;
                        font-size: 36px;
                        line-height: 35px;
                    }
                    .lorem {
                        margin-top: 20px;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 26px;
                        color: #616161;
                    }
                    .row {
                        .col-lg-3 {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    
    @media(max-width:1100px) {
        .section-aboutMe {
            .container {
                max-width: 84vw !important;
                .row {
                    .col-lg-3 {
                        .dropdown {
                            button {
                                position: relative;
                                outline: none !important;
                                box-shadow: none !important;
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                height: 60px !important;
                                font-size: 14px !important;
                                line-height: 20px !important;
                            }
                        }
                    }
                }
            }
        }
    }
    
    @media(max-width: 750px) {
        .header-aboutMe {
            .img-opasity {
                .text-big {
                    font-size: 30px;
                }
            }
        }
        .section-aboutMe {
            .container {
                .row {
                    .col-lg-9 {
                        .Zapchas {
                            font-weight: 650;
                            font-size: 33px;
                            line-height: 35px;
                        }
                        .lorem {
                            font-size: 15px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
    
    @media(max-width:500px) {
        .section-aboutMe {
            .container {
                max-width: 96vw !important;
                .row {
                    .col-lg-9 {
                        .Zapchas {
                            font-weight: 600;
                            font-size: 30px;
                            line-height: 35px;
                        }
                        .lorem {
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }