#otaaa {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    #kichikAb,
    #kichik2Ab {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #BCBCBC;
        text-decoration: none;
    }
}

.section-Azizbek {
    .container {
        max-width: 84vw !important;
        .row {
            .col-lg-9 {
                .row {
                    width: 100%;
                    overflow-x: hidden;
                    position: relative !important;
                    ul {
                        margin-bottom: 10px;
                        margin-top: 10px;
                        li {
                            a {
                                border-bottom: 1px solid transparent;
                                text-decoration: none;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 26px;
                                line-height: 30px;
                                padding: 0px 10px;
                                color: #676767;
                                &.active {
                                    border-bottom: 1px solid #007cff !important;
                                    color: black !important;
                                    background-color: transparent !important;
                                }
                            }
                        }
                    }
                    .owl-carousel {
                        margin-top: 40px;
                        margin-top: 15px;
                        .owl-nav {
                            position: absolute !important;
                            top: -45px !important;
                            right: 28% !important;
                            // right: 28% !important;
                            .owl-next {
                                background-image: url(../img/rightt.svg) !important;
                                background-repeat: no-repeat;
                                background-size: cover;
                                width: 41px !important;
                                height: 22px !important;
                                outline: none !important;
                                span {
                                    display: none !important;
                                }
                            }
                            .owl-prev {
                                background-image: url(../img/leftt.svg) !important;
                                background-repeat: no-repeat !important;
                                background-size: cover !important;
                                width: 41px !important;
                                height: 22px !important;
                                margin-right: 3px;
                                outline: none !important;
                                span {
                                    display: none !important;
                                }
                            }
                        }
                        .col-lg-3 {
                            padding: 0 !important;
                            .item {
                                width: 380% !important;
                                cursor: pointer;
                                &:hover {
                                    .icon-heart {
                                        opacity: 1;
                                        transition: 0.5s linear;
                                    }
                                    box-shadow:3px 3px 15px #e5e5e5,
                                    -3px -3px 15px #e5e5e5;
                                    // img {
                                    //     transform: rotate(0);
                                    // }
                                }
                                .card {
                                    position: relative;
                                    border: none !important;
                                    // border: 1px solid rebeccapurple !important;
                                    .icon-big {
                                        position: absolute;
                                        top: 10px;
                                        right: 10px;
                                        &:hover {
                                            background-color: #007cff;
                                        }
                                    }
                                    .icon-hover-2 {
                                        position: absolute;
                                        top: 30px;
                                        right: 10px;
                                        .icon:hover {
                                            background-color: #007cff!important;
                                        }
                                    }
                                    img {
                                        width: 80% !important;
                                        margin-top: 40px;
                                    }
                                    .dataRull {
                                        margin-top: 30px;
                                        padding: 20px;
                                        // border: 1px solid red;
                                        width: 100%;
                                        .tro {
                                            font-weight: normal;
                                            font-size: 14px;
                                            line-height: 16px;
                                            color: #A5A5A5;
                                        }
                                        .chambarag {
                                            margin-top: 10px;
                                            font-weight: 500;
                                            font-size: 20px;
                                            line-height: 23px;
                                        }
                                        .stars {
                                            display: flex;
                                            img {
                                                width: 17px !important;
                                                height: 16px !important;
                                            }
                                            img:nth-child(2) {
                                                margin-left: 10px;
                                            }
                                            img:nth-child(3) {
                                                margin-left: 10px;
                                            }
                                            img:nth-child(4) {
                                                margin-left: 10px;
                                            }
                                            img:nth-child(5) {
                                                margin-left: 10px;
                                            }
                                        }
                                        .price-savat {
                                            width: 100%;
                                            margin-top: 15px;
                                            display: flex;
                                            align-items: center;
                                            .price {
                                                font-weight: 500;
                                                font-size: 20px;
                                                line-height: 23px;
                                            }
                                            .iconPlace {
                                                margin-left: auto;
                                                width: 27px;
                                                height: 27px;
                                                border-radius: 50%;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                &:hover .icon {
                                                    background-color: white !important;
                                                }
                                                &:hover {
                                                    background-color: #007CFF;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width:1200px) and(max-width:1450px) {
    .section-Azizbek {
        .container {
            .row {
                .col-lg-3 {
                    .card {
                        .dataInterier {
                            font-size: 25px !important;
                            font-weight: 500 !important;
                            line-height: 25px !important;
                            color: white;
                        }
                    }
                }
                .col-lg-9 {
                    .row {
                        width: 100%;
                        overflow-x: hidden;
                        ul {
                            margin-bottom: 10px;
                            margin-top: 0px;
                            li {
                                a {
                                    font-size: 18px;
                                    line-height: 24px;
                                    padding: 0px;
                                    margin-left: 10px;
                                    &.active {
                                        border-bottom: 1px solid #007cff !important;
                                        color: black !important;
                                        background-color: transparent !important;
                                    }
                                }
                            }
                        }
                        .owl-carousel {
                            margin-top: 15px;
                            .col-lg-3 {
                                .item {
                                    .card {
                                        .img-fluid {
                                            width: 70% !important;
                                            margin-top: 40px;
                                        }
                                        .dataRull {
                                            padding: 10px;
                                            margin-top: 20px !important;
                                            .tro {
                                                font-size: 12px;
                                                line-height: 14px;
                                            }
                                            .chambarag {
                                                margin-top: 5px;
                                                font-weight: 500;
                                                font-size: 15px;
                                                line-height: 18px;
                                            }
                                            .stars {
                                                img {
                                                    margin-top: 5px !important;
                                                }
                                            }
                                            .price-savat {
                                                width: 100%;
                                                margin-top: 5px;
                                                display: flex;
                                                align-items: center;
                                                .price {
                                                    font-weight: 450;
                                                    font-size: 16px;
                                                    line-height: 19px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width:992px) and(max-width:1200px) {
    .section-Azizbek {
        .container {
            .row {
                .col-lg-3 {
                    .card {
                        .dataInterier {
                            font-size: 20px !important;
                            font-weight: 500 !important;
                            line-height: 25px !important;
                            color: white;
                            padding: 0px 5px;
                        }
                    }
                }
                .col-lg-9 {
                    .row {
                        width: 100%;
                        overflow-x: hidden;
                        ul {
                            margin-bottom: 10px;
                            margin-top: 0px;
                            li {
                                a {
                                    font-size: 18px;
                                    line-height: 24px;
                                    padding: 0px;
                                    margin-left: 10px;
                                    &.active {
                                        border-bottom: 1px solid #007cff !important;
                                        color: black !important;
                                        background-color: transparent !important;
                                    }
                                }
                            }
                        }
                        .owl-carousel {
                            margin-top: 5px;
                            .owl-nav {
                                top: -30px !important;
                            }
                            .col-lg-3 {
                                .item {
                                    .card {
                                        .img-fluid {
                                            width: 70% !important;
                                            margin-top: 10px !important;
                                        }
                                        .dataRull {
                                            padding: 10px;
                                            .tro {
                                                font-size: 12px;
                                                line-height: 14px;
                                            }
                                            .chambarag {
                                                margin-top: 5px;
                                                font-weight: 500;
                                                font-size: 15px;
                                                line-height: 18px;
                                            }
                                            .stars {
                                                margin-top: -30px !important;
                                                img {
                                                    width: 14px !important;
                                                    height: 13px !important;
                                                }
                                                img:nth-child(2) {
                                                    margin-left: 5px;
                                                }
                                                img:nth-child(3) {
                                                    margin-left: 5px;
                                                }
                                                img:nth-child(4) {
                                                    margin-left: 5px;
                                                }
                                                img:nth-child(5) {
                                                    margin-left: 5px;
                                                }
                                            }
                                            .price-savat {
                                                width: 100%;
                                                margin-top: 5px;
                                                display: flex;
                                                align-items: center;
                                                .price {
                                                    font-weight: 450;
                                                    font-size: 16px;
                                                    line-height: 19px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:992px) {
    .section-Azizbek {
        .container {
            .row {
                .col-lg-3 {
                    .card {
                        .dataInterier {
                            font-size: 30px !important;
                            font-weight: 500 !important;
                            line-height: 40px !important;
                        }
                    }
                }
                .col-lg-9 {
                    margin-top: 20px;
                    .row {
                        overflow-x: none !important;
                        margin: 0 !important;
                        margin-top: 20px;
                        ul {
                            margin-bottom: 10px;
                            margin-top: 10px;
                            li {
                                a {
                                    font-size: 14px;
                                    line-height: 17px;
                                    &.active {
                                        border-bottom: 1px solid #007cff !important;
                                        color: black !important;
                                        background-color: transparent !important;
                                    }
                                }
                            }
                        }
                        .owl-carousel {
                            margin-top: 15px;
                            .owl-nav {
                                border: none !important;
                                position: absolute;
                                top: -45px !important;
                                right: 1% !important;
                                width: 100px !important;
                                .owl-next,
                                .owl-prev {
                                    background-image: url('../img/slideBagRight.png');
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    width: 45px;
                                    height: 22px;
                                    color: white;
                                    outline: none;
                                }
                            }
                            .col-lg-3 {
                                .item {
                                    width: 95% !important;
                                    .card {
                                        .icon-big {
                                            position: absolute;
                                            top: 10px;
                                            right: 10px;
                                            &:hover {
                                                background-color: #007cff;
                                            }
                                        }
                                        .icon-hover-2 {
                                            position: absolute;
                                            top: 30px;
                                            right: 10px;
                                            .icon:hover {
                                                background-color: #007cff!important;
                                            }
                                        }
                                        img {
                                            width: 80% !important;
                                            margin-top: 20px;
                                        }
                                        .dataRull {
                                            padding: 20px;
                                            width: 100%;
                                            .tro {
                                                font-weight: normal;
                                                font-size: 14px;
                                                line-height: 16px;
                                                color: #A5A5A5;
                                            }
                                            .chambarag {
                                                margin-top: 10px;
                                                font-weight: 500;
                                                font-size: 20px;
                                                line-height: 23px;
                                            }
                                            .stars {
                                                display: flex;
                                                img {
                                                    width: 17px !important;
                                                    height: 16px !important;
                                                }
                                                img:nth-child(2) {
                                                    margin-left: 10px;
                                                }
                                                img:nth-child(3) {
                                                    margin-left: 10px;
                                                }
                                                img:nth-child(4) {
                                                    margin-left: 10px;
                                                }
                                                img:nth-child(5) {
                                                    margin-left: 10px;
                                                }
                                            }
                                            .price-savat {
                                                width: 100%;
                                                margin-top: 15px;
                                                display: flex;
                                                align-items: center;
                                                .price {
                                                    font-weight: 500;
                                                    font-size: 20px;
                                                    line-height: 23px;
                                                }
                                                .iconPlace {
                                                    margin-left: auto;
                                                    width: 27px;
                                                    height: 27px;
                                                    border-radius: 50%;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: center;
                                                    &:hover .icon {
                                                        background-color: white !important;
                                                    }
                                                    &:hover {
                                                        background-color: #007CFF;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:770px) {
    .section-Azizbek {
        .container {
            .row {
                .col-lg-9 {
                    .row {
                        .owl-carousel {
                            .col-lg-3 {
                                .item {
                                    width: 95% !important;
                                    .card {
                                        .dataRull {
                                            padding: 10px;
                                            .tro {
                                                font-size: 12px;
                                            }
                                            .chambarag {
                                                font-weight: 450;
                                                font-size: 15px;
                                                line-height: 19px;
                                            }
                                            .stars {
                                                display: flex;
                                                img {
                                                    width: 15px !important;
                                                    height: 14px !important;
                                                }
                                                img:nth-child(2) {
                                                    margin-left: 10px;
                                                }
                                                img:nth-child(3) {
                                                    margin-left: 10px;
                                                }
                                                img:nth-child(4) {
                                                    margin-left: 10px;
                                                }
                                                img:nth-child(5) {
                                                    margin-left: 10px;
                                                }
                                            }
                                            .price-savat {
                                                margin-top: 7px;
                                                .price {
                                                    font-weight: 450;
                                                    font-size: 15px;
                                                    line-height: 19px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 514px) {
    .section-Azizbek{
        .container{
            .row{
                .col-lg-9{
                    .row{
                        .owl-carousel{
                            margin-top: 15px;
                            .owl-nav {
                                position: absolute !important;
                                top: 92% !important;
                                right: 35% !important;
                                width: 100px !important;
                                .owl-next,
                                .owl-prev {
                                    background-image: url('../img/slideBagRight.png');
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    width: 45px;
                                    height: 22px;
                                    color: white;
                                    outline: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 490px) {
    .section-Azizbek {
        .container {
            .row {
                .col-lg-3 {
                    .card {
                        .dataInterier {
                            font-size: 30px !important;
                            font-weight: 500 !important;
                            line-height: 40px !important;
                        }
                    }
                }
                .col-lg-9 {
                    margin-top: 20px;
                    .row {
                        margin-top: 20px;
                        .fixedBy-Aslamjon{
                            overflow-x: scroll;
                            flex-wrap: nowrap;
                        }
                        ul {
                            width: 388px;
                            li {
                                a {
                                    font-size: 14px;
                                    line-height: 15px;
                                    letter-spacing: 0.3px;
                                    padding-left: 6px !important;
                                    &.active {
                                        border-bottom: 1px solid #007cff !important;
                                        color: black !important;
                                        background-color: transparent !important;
                                    }
                                }
                            }
                        }
                        .owl-carousel {
                            margin-top: 15px;
                            .owl-nav {
                                position: absolute !important;
                                top: 92% !important;
                                right: 35% !important;
                                width: 100px !important;
                                .owl-next,
                                .owl-prev {
                                    background-image: url('../img/slideBagRight.png');
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    width: 45px;
                                    height: 22px;
                                    color: white;
                                    outline: none;
                                }
                            }
                            
                            .col-lg-3 {
                                .item {
                                    width: 95% !important;
                                    .card {
                                        position: relative !important;
                                        .icon-big {
                                            position: absolute;
                                            top: 10px;
                                            right: 10px;
                                            &:hover {
                                                background-color: #007cff;
                                            }
                                        }
                                        .icon-hover-2 {
                                            position: absolute;
                                            top: 30px;
                                            right: 10px;
                                            .icon:hover {
                                                background-color: #007cff!important;
                                            }
                                        }
                                        img {
                                            width: 80% !important;
                                            margin-top: 20px;
                                        }
                                        .dataRull {
                                            padding: 20px;
                                            width: 100%;
                                            .tro {
                                                font-weight: normal;
                                                font-size: 14px;
                                                line-height: 16px;
                                                color: #A5A5A5;
                                            }
                                            .chambarag {
                                                margin-top: 10px;
                                                font-weight: 500;
                                                font-size: 20px;
                                                line-height: 23px;
                                            }
                                            .stars {
                                                display: flex;
                                                img {
                                                    width: 17px !important;
                                                    height: 16px !important;
                                                }
                                                img:nth-child(2) {
                                                    margin-left: 10px;
                                                }
                                                img:nth-child(3) {
                                                    margin-left: 10px;
                                                }
                                                img:nth-child(4) {
                                                    margin-left: 10px;
                                                }
                                                img:nth-child(5) {
                                                    margin-left: 10px;
                                                }
                                            }
                                            .price-savat {
                                                width: 100%;
                                                margin-top: 15px;
                                                display: flex;
                                                align-items: center;
                                                .price {
                                                    font-weight: 500;
                                                    font-size: 20px;
                                                    line-height: 23px;
                                                }
                                                .iconPlace {
                                                    margin-left: auto;
                                                    width: 27px;
                                                    height: 27px;
                                                    border-radius: 50%;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: center;
                                                    &:hover .icon {
                                                        background-color: white !important;
                                                    }
                                                    &:hover {
                                                        background-color: #007CFF;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}