<<<<<<< HEAD
#otaaa {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    #kichik,
    #kichik2 {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #BCBCBC;
        text-decoration: none;
    }
}

.section-news {
    .container {
        max-width: 84vw !important;
        padding-right: 0 !important;
        .row {
            margin: 0 auto !important;
            width: 100% !important;
            .col-lg-9 {
                order: 1;
                padding: 20px 30px;
                background: white;
                .Zapchas {
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 35px;
                }
                .lorem {
                    margin-top: 20px;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 26px;
                    color: #616161;
                }
            }
            .col-lg-3 {
                order: 2;
                .taytl {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 28px;
                    line-height: 33px;
                    color: #2B2B2B;
                }
                .divone {
                    padding: 30px 15px;
                    input {
                        background: #F7F7F7;
                        color: black;
                        height: 55px;
                        position: relative !important;
                    }
                    .position-eleent {
                        position: absolute;
                        top: 100px;
                        right: 45px;
                    }
                }
                .divtwo {
                    padding: 30px 15px;
                    a {
                        padding-top: 20px;
                        display: block;
                        text-decoration: none;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 19px;
                        color: #616161;
                    }
                }
                .divthree {
                    padding: 30px 15px;
                    .simple-text {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 26px;
                        color: #616161;
                    }
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media(max-width:750px) {
    .section-news {
        .container {
            .row {
                .col-lg-9 {
                    .Zapchas {
                        font-weight: 650;
                        font-size: 33px;
                        line-height: 35px;
                    }
                    .lorem {
                        font-size: 15px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}

@media(max-width:500px) {
    .section-news {
        .container {
            max-width: 96vw !important;
            margin-right: 0 !important;
            .row {
                .col-lg-9 {
                    .Zapchas {
                        font-weight: 600;
                        font-size: 30px;
                        line-height: 35px;
                    }
                    .lorem {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
                .col-lg-3 {
                    order: 2;
                    .taytl {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 28px;
                        line-height: 33px;
                        color: #2B2B2B;
                    }
                }
            }
        }
    }
}

@media(max-width:1100px) {
    .section-news {
        .container {
            .row {
                .col-lg-3 {
                    .taytl {
                        font-family: Roboto;
                        font-weight: 600;
                        font-size: 25px;
                        line-height: 25px;
                    }
                    .divone {
                        .position-eleent {
                            position: absolute;
                            top: 95px;
                            right: 45px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:992px) {
    .section-news {
        .container {
            .row {
                .col-lg-9 {
                    order: 2;
                }
                .col-lg-3 {
                    padding: 0 !important;
                    order: 1;
                    .divone {
                        padding: 30px 30px;
                        .position-eleent {
                            position: absolute;
                            top: 95px;
                            right: 45px;
                        }
                    }
                    .divtwo {
                        padding: 30px 30px;
                    }
                    .divthree {
                        padding: 30px 30px;
                    }
                }
            }
        }
    }
=======
#otaaa {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    #kichik,
    #kichik2 {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #BCBCBC;
        text-decoration: none;
    }
}

.section-news {
    .container {
        max-width: 84vw !important;
        padding-right: 0 !important;
        .row {
            margin: 0 auto !important;
            width: 100% !important;
            .col-lg-9 {
                order: 1;
                padding: 20px 30px;
                background: white;
                .Zapchas {
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 35px;
                }
                .lorem {
                    margin-top: 20px;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 26px;
                    color: #616161;
                }
            }
            .col-lg-3 {
                order: 2;
                .taytl {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 28px;
                    line-height: 33px;
                    color: #2B2B2B;
                }
                .divone {
                    padding: 30px 15px;
                    input {
                        background: #F7F7F7;
                        color: black;
                        height: 55px;
                        position: relative !important;
                    }
                    .position-eleent {
                        position: absolute;
                        top: 100px;
                        right: 45px;
                    }
                }
                .divtwo {
                    padding: 30px 15px;
                    a {
                        padding-top: 20px;
                        display: block;
                        text-decoration: none;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 19px;
                        color: #616161;
                    }
                }
                .divthree {
                    padding: 30px 15px;
                    .simple-text {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 26px;
                        color: #616161;
                    }
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media(max-width:750px) {
    .section-news {
        .container {
            .row {
                .col-lg-9 {
                    .Zapchas {
                        font-weight: 650;
                        font-size: 33px;
                        line-height: 35px;
                    }
                    .lorem {
                        font-size: 15px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}

@media(max-width:500px) {
    .section-news {
        .container {
            max-width: 96vw !important;
            margin-right: 0 !important;
            .row {
                .col-lg-9 {
                    .Zapchas {
                        font-weight: 600;
                        font-size: 30px;
                        line-height: 35px;
                    }
                    .lorem {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
                .col-lg-3 {
                    order: 2;
                    .taytl {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 28px;
                        line-height: 33px;
                        color: #2B2B2B;
                    }
                }
            }
        }
    }
}

@media(max-width:1100px) {
    .section-news {
        .container {
            .row {
                .col-lg-3 {
                    .taytl {
                        font-weight: 600;
                        font-size: 25px;
                        line-height: 25px;
                    }
                    .divone {
                        .position-eleent {
                            position: absolute;
                            top: 95px;
                            right: 45px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:992px) {
    .section-news {
        .container {
            .row {
                .col-lg-9 {
                    order: 2;
                }
                .col-lg-3 {
                    padding: 0 !important;
                    order: 1;
                    .divone {
                        padding: 30px 30px;
                        .position-eleent {
                            position: absolute;
                            top: 95px;
                            right: 45px;
                        }
                    }
                    .divtwo {
                        padding: 30px 30px;
                    }
                    .divthree {
                        padding: 30px 30px;
                    }
                }
            }
        }
    }
>>>>>>> f6bcbc6a42480dfd001e681c00631055f199ceb4
}